Ubuntu:

*  python `$ sudo apt install python`
*  pdf-box `$ sudo apt-get install python-pdfbox`
*  Django `$ sudo apt-get install Django==3.1.5` 
*  g++ 4.8 `$ sudo apt-get install g++-4.8`
*  Java 8 `$ sudo apt-get install openjdk-8-jdk`
*  curl `$ sudo apt-get install curl`

MacOS:

*  python `$ pip install python`
*  pdf-box `$ pip install python-pdfbox`
*  Django `$ pip install Django==3.1.5`
*  g++ 6 `$ brew install gcc6`
*  Java 8 `$ brew update; brew tap caskroom/cask; brew install Caskroom/cask/java`
