<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AutoLibrary</title>

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto+Slab&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <script src="{% static 'function.js' %}"></script>
    </head>

    <body onload="initiate()">
        <header>
            <h1>AutoLibrary</h1>
            <a href="https://github.com/jfan1998/AutoLibrary" target="_blank">For more info, visit our GitHub repo!</a>
        </header><hr>

        <main>
            <section class="flex-container">
                <div class="flex-item">
                    <h3>Documents: </h3>
                    <dl id="list"></dl><br><br>
                </div>
            </section>
            <section class="flex-container">
                <div class="flex-item">
                    <h3>Use your own PDF document to search for articles.</h3>
                    <form id="dropzone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                        <label>Drag & drop a document here, or select a document to start a search.</label>
                        <input type="file" id="input_pdf" name="input_pdf" accept=".pdf"><br>
                        <button type="submit">Start</button> 
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>
<script>
    function initiate(){ 
        var data = JSON.parse("{{data|escapejs}}"); 
        var dl = document.getElementById("list");
        var dt = document.createElement("dt");
        for(var x in data){ 
            var btn = document.createElement("BUTTON");
            btn.className = "btn-group";
            btn.innerHTML = data[x];
            dt.appendChild(btn);
        } 
        dl.appendChild(dt);
        var buttons = document.getElementById('list').getElementsByTagName('button');
        var max = buttons.length;
        for(var i = 0; i < max; i++) {
            buttons[i].addEventListener('click', selection, true);
        }
    } 

    function selection(e) {
        var selected = {"file_name": e.target.innerHTML};
        var URL = "{% url 'get_file' %}";
        $.post(URL, selected, function(response){
            if (response === 'success'){ 
                alert('Yay!'); 
            } else { 
                alert('Error! :('); 
            }
        });
    }
</script>