<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto+Slab&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <script src="{% static 'function.js' %}"></script>
    </head>

    <body>
        <header>
            <h1>Blog</h1>
            <a href="https://github.com/jfan1998/AutoLibrary" target="_blank">For more info, visit our GitHub repo!</a>
        </header><hr>

        <main>
            <section class="flex-container">
                <div class="flex-item">
                    <h3>Use your own PDF document to search for articles.</h3>
                    <form id="dropzone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                        <label>Drag & drop a document here, or select a document to start a search.</label>
                        <input type="file" id="input_pdf" name="input_pdf" accept=".pdf"><br>
                        <button type="submit">Start</button>
                    </form>
                </div>
            </section>
        </main>

        <script type="text/javascript">

            function getFilePath(){
                $('#input_pdf').on('change',function ()
                {
                    var filePath = $(this).val();
                    console.log(filePath);
                });
            };
        
        </script>
    </body>
</html>